# Virtual Environments
venv/
venv311/

# Python Cache Files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables
.env

# VS Code Settings
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Log Files
*.log

# Python Build Files
build/
dist/
*.egg-info/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/